:root{
    --blue: #0052ff;
}

input {
    background: #FFFFFF;
    border: none;
    border-bottom: 1.5px solid #000000;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 35px;
    position: relative;
    text-indent: 10px;
    color: var(--blue);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
    border-bottom: 1.5px solid var(--blue);
    outline: transparent;
    
}