.submit{
    border: none;
    border-radius: 2.5px;
    width: 100%;
    color: #FFFFFF;
    background: #0052FF;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    position: relative;

}

.submit:hover {
    background: #1c62f8;
}

.submit:active {
    background: #0346d8;
}